{% extends "base.html" %}
{% load static %}
{% block content %}
{#	<div class="home snap-center flex flex-col justify-center items-center h-screen w-full pt-4" id="home">#}
{##}
{#		<h1 class="font-bold sm:4xl md:text-5xl lg:text-6xl xl:text-7xl p-4">Ponte Las Pilas</h1>#}
{##}
{#		<section class="p-6 w-5/6 font-urban ">#}
{#			<p class="p-6 sm:text-md md:text-lg lg:text-xl xl:text-2xl">Lorem ipsum dolor sit amet, consectetur#}
{#																		adipisicing elit. Dolore et fuga laboriosam#}
{#																		quasi unde? Cumque dolore dolorem, dolorum ex#}
{#																		expedita minima natus odit officia quis ratione#}
{#																		suscipit temporibus ut veritatis!</p>#}
{#		</section>#}
{#	</div>#}
  <div
    class=" home mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center" id="home"
  >
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl xl:text-7xl">
        Ponte Las Pilas
      </h1>

      <p class="mt-4 sm:text-xl sm:leading-relaxed">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo
        tenetur fuga ducimus numquam ea!
      </p>

    </div>
  </div>






	<div class="api snap-center flex flex-col justify-center items-center h-screen w-full pt-4" id="API">
		<h2 class="font-bold sm:2xl md:text-4xl lg:text-5xl xl:text-7xl  p-3">API</h2>

		<section class="p-6 w-5/6 font-urban">
			<p class="p-6 sm:text-md md:text-lg lg:text-xl xl:text-2xl">Lorem ipsum dolor sit amet, consectetur
																		adipisicing elit. Animi commodi est incidunt
																		laborum laudantium nesciunt perspiciatis porro
																		possimus quidem quos sapiente sint, tempora
																		ullam veritatis vero voluptatem voluptates.
																		Iure, pariatur.</p>
		</section>

	</div>

	<div></div>


{#	<div class="about snap-center flex flex-col justify-center items-center h-screen w-full pt-4" id="about">#}
{##}
{#		<h2 class="font-bold sm:2xl md:text-4xl lg:text-5xl xl:text-7xl  p-3">About</h2>#}
{#		<section class="p-6 w-5/6 font-urban">#}
{#			<p class="p-5 sm:text-md md:text-lg lg:text-xl xl:text-2xl">Lorem ipsum dolor sit amet, consectetur#}
{#																		adipisicing elit. Ab dolorem doloremque ducimus#}
{#																		esse et exercitationem expedita harum inventore#}
{#																		magnam maiores nemo, nesciunt nulla officia#}
{#																		possimus quas, quia quisquam tenetur#}
{#																		veritatis.</p>#}
{#		</section>#}
{#		<div>#}
{#			<a href="https://github.com/mramirez92" class="text-slate-100">#}
{#                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="bi bi-github hover:scale-125 hover:fill-slate-100 hover:animate-pulse fill-slate-100/80" viewBox="0 0 24 24">#}
{#                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>#}
{##}
{#                </svg>#}
{#			</a>#}
{#		</div>#}
{##}
{#	</div>#}



	  <div
    class="about mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8" id="about"
  >
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
  <div class="relative h-32 w-32 overflow-hidden rounded-full sm:h-80 sm:w-80 lg:order-last lg:h-full lg:w-full">
  <img
    alt="self-portrait"
    src="static/assets/portrait.png"
    class="absolute inset-0 h-full w-full object-cover"
  />
</div>


      <div class="lg:py-24">
        <h2 class="text-3xl font-bold sm:text-4xl">About</h2>

        <p class="mt-4 text-slate-100 font-urban text-xl">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut qui hic
          atque tenetur quis eius quos ea neque sunt, accusantium soluta minus
          veniam tempora deserunt? Molestiae eius quidem quam repellat.
        </p>

{#        <a#}
{#          href="#"#}
{#          class="mt-8 inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400"#}
{#        >#}
			<a href="https://github.com/mramirez92" class="text-slate-100 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="bi bi-github hover:scale-125 hover:fill-slate-100 hover:animate-pulse fill-slate-100/80" viewBox="0 0 24 24">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>

                </svg>
        </a>
      </div>
    </div>
  </div>


{% endblock %}

